#cardview {
	-fx-border-color: transparent;
	-fx-background-color: white;
	-fx-background-radius: 2;
	-fx-border-radius: 2;
	-fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

#cardview:hover {
	-fx-border-color: transparent;
	-fx-background-color: derive(white, -10%); 
}

#cardview:pressed {
	-fx-border-color: transparent;
	-fx-background-color: derive(white, -20%); 
}

#cardview:focused {
	-fx-border-color: -fx-accent;
}

#clockview {
	-fx-border-color: transparent;
	-fx-background-color: rgba(255,255,255,0);
}

#clockview:hover {
	-fx-border-color: transparent;
	-fx-background-color: rgba(255,255,255,0.15); 
}

#clockview:pressed {
	-fx-border-color: transparent;
	-fx-background-color: rgba(255,255,255,0.30); 
}

#clockview:focused {
	-fx-border-color: -fx-accent;
}